table, th, td {
    border:1px solid black;
    font-size: 10px;
  }

.table_header {
    width:  300px;
    
    background-color:rgb(126, 185, 244)
}
.box {
    display: flex;
    padding: 2px;
    border-radius: 50%;
    
  }

.view_history_name {
  font-size: 20px;
  
}
.view_history_title{
  background-color:rgb(0, 128, 255);
  font-size: 30px;

} 

.view_history_table{
  border-radius:  20px;
}