table, th, td {
  border:1px solid black;
  font-size: 10px;
}

.table_header {
  width:  300px;
  
  background-color:rgb(126, 185, 244)
}
.history_item_image{
width: 100px;
height: 100px;
}
.box {
  display: flex;
  padding: 2px;
  border-radius: 50%;
  
}

.view_history_name {
font-size: 20px;

}
.view_history_title{
background-color:rgb(0, 128, 255);
font-size: 30px;

} 

.view_history_table{
height: 400px;
background: #aaa;
overflow-y: scroll;
}

/* width */
.view_history_table::-webkit-scrollbar {
  overflow-y: scroll;
  width: 10px;
}

/* Track */
.view_history_table::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.view_history_table::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.view_history_table ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}