.commentSection{
    background-color: rgb(237, 234, 234);
    border-radius:  10px;
}

.commentComment{
    text-align: center;
}

.comment-group {
    width: 67%;
    
}

.comment_button{
    margin-top: 1px;
    height: 7%;
    background: #66C5FB;
    cursor: pointer;
    border: none;
    min-width: 30%;
    border: 1px solid black;
    
}
.comment_button:hover{
    background-color: rgb(148, 197, 241);
}

.comment-controll {
    display: block;
    padding: 8px 16px;
    width: 150%;
    font-size: 16px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #000000;
    font-weight: 200;
  }

.comment-controll:focus {
    outline: 2px solid rgba(255,255,255,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }

.comment_main{ 
    display: flex;
    align-items: center;
}
