.header {
  background-color:#66C5FB  ;
  align-items: center;
  white-space: nowrap;  
  gap: 10px;  
  }

.search_bar_position{
    justify-content: flex-end
}
.main-wrapper {
    height: 100vh;  
  }

.item-image{
  width: 65%;
  height: 65%;
  object-fit: contain;
}
.add_like_icon{
  width: 40px;
  height: 40px;
}
.reportbutton{
  background-color: red;
}

.text{
  font-family: Skin-market-sans;
  align-items:center;
  text-align:center
}

.arrow_svg{
  width:40px;
  height:40px;
  margin: auto;    
    display: block;
}

.arrow_svg:hover{
  cursor: pointer;
}

.plus_svg{
  width: 40px;
  height: 40px;
}

.plus_svg:hover{
  cursor: pointer;
}