.header {
  background-color:#66C5FB  ;
  align-items: center;
  white-space: nowrap;  
  gap: 10px;  
  }

.search_bar_position{
    justify-content: flex-end
}
.main-wrapper {
    height: 100vh;  
  }

.item-image{
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.add_like_icon{
  width: 40px;
  height: 40px;
}
.reportbutton{
  margin-top: 4px;
  background-color: red;
  width: 10%;
  height: 80%;
  border-radius: 50%;
}

.text{
  font-family: Skin-market-sans;
  align-items:center;
  text-align:center
}

.arrow_svgL{
  width:40px;
  height:40px;
  margin: auto;    
  display: block;

}
.arrow_svgR {
  width: 40px;
  height: 40px;
  margin: auto;
  display: block;

}

.arrow_svgL:hover{
  cursor: pointer;
}
.arrow_svgR:hover {
  cursor: pointer;
}

.plus_svg{
  width: 40px;
  height: 40px;
}

.plus_svg:hover{
  cursor: pointer;
}



.iteminfoIteminfo{
  text-align: center;
  background-color: rgb(237, 234, 234);
  border-radius: 10px;
}