.loginPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background: #8BBAFF;
}

.frame12{
    background-color: #BEE8FF;
    height: 120vh;
    width: 100vw;
    min-width: 100px;

}

.formBlock{
    margin: auto;
    width: 50%;
    min-width: 200px;
}

.control {
    margin: 1rem 0;
}

.usernameL{
    margin-right: 0px;
    font-size: 20pt;
}
.passwordL{
    margin-right: 0px;
    font-size: 20pt;
}

.forgotL{
    margin-left: 100px;

}

.blue{
    color: #66C5FB;
}

.LoginButton{
    margin-top: 20px;
    height: 60px;
    width: 60%;

    background-color: #66C5FB;
    font-size: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    cursor: pointer;
}

.RegisterButton{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 60%;
        height: 60px;
        background-color: #66C5FB;
        font-size: auto;
        border-radius: 8px;
        cursor: pointer;
}


.login{
    text-align: center;
    font-size:xx-large;
}   

.jack_form{
    display: flex;
    align-items: center;
}

.login_input_input{
    /* height: 50px;
    width: 400px; */
    font-size: 28pt;
    width: 100%;
    min-width: 100px;
}
.login_input_div{
    width: 60%;
}