.popup{
position: fixed;    
top:0;
left: 0;
width: 100%;
height: 100vh;
background-color: rgb(0, 0, 0,0.2);
display: flex;
justify-content: center;
align-items: center;
}
.Logoutnotification{
position: relative;
width: 60%;
height: 346px;
background: #66C5FB;
}
.logoutmain{
position: absolute;
min-width: 100%;
height: 119px;
left: 0px;
top: 227px;
background: #D9D9D9;
}
.LogOut1{
position: absolute;
width: 140px;
height: 43px;
left: 47px;
top: 38px;
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 43px;
/* identical to box height */
color: #FFFFFF;
}
.Areyousureyouwanttologout{
position: absolute;
width: 372px;
height: 28px;
left: 47px;
top: 113px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.cancelbutton{
position: absolute;
min-width: 18%;
height: 61px;
left: 60%;
top: 30%;
border-radius: 30px;
background: #4082a8;
cursor: pointer;
}
.cancelfont{
font-family: 'Poppins';
font-style: normal;
font-size: 32px;
color: #FFFFFF;
}
.logoutbutton{
position: absolute;
min-width: 18%;            
height: 61px;             
left: 80%;
top: 30%;
border-radius: 30px;
background: #fb6666;
cursor: pointer;
}
.logoutfont{
font-family: 'Poppins';
font-style: normal;
font-size: 32px;
color: #FFFFFF;
}
.logoutbutton:hover{
background-color: rgb(217, 0, 0);
}
.cancelbutton:hover{
background-color: #006ba8;
}