.services__content{
    gap: 4rem;
}
.services__contentitem{
    padding: 2rem;
}
.services__contentitem .icon{
    width: 60px;
    margin: 0 auto;
    opacity: 0.7;
}
.services__contentitem .text{
    margin: 2rem 0;
    opacity: 0.8;
}
@media screen and (min-width: 760px){
    .services__content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 980px){
    .services__content{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .services__content{
        grid-template-columns: repeat(4, 1fr);
    }
}
  .grid{
    display: grid;
  }
  .text__center{
    text-align: center;
  }
  .text__grey{
    color: var(--grey-color);
  }
  .bg__grey{
    background-color: var(--grey-color);
  }
  
  /* btns */
  .btn{
    display: inline-block;
    min-height: 54px;
    line-height: 54px;
    padding: 0 4.7rem;
    color: var(--white-color);
    letter-spacing: 1px;
    font-size: 1.7rem;
    font-weight: 500;
    transition: var(--transition);
  }
  .btn__blue{
    background-color: var(--robin-blue-color);
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --font-base: 'Poppins', sans-serif;
  --robin-blue-color: #10c9c3;
  --black-color: #141414;
  --grey-color: #8e8e8e;
  --white-color: #fff;
  --whitesmoke-color: #f5f5f5;
  --transition: all 300ms ease-in-out;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html{
  font-size: 10px;
}
img{
  width: 100%;
  display: block;
}
