.Background{
position: absolute;
width: 100%;
height: 100%;
left: 0%;
top: 0%;
background: #66C5FB;
border-radius: 0px;
}
.Mainpage {
box-sizing: border-box;
position: absolute;
left: 0%;
top:10%;
right: 0%;
background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 2px 16px rgba(75, 75, 75, 0.15);
border-radius: 68px;
}
.bg_change_icon{
    width: 20px;
    color:aliceblue;
    border: 0.5px solid white;
  }
.Icon{
background: #66C5FB;
resize: vertical;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-top-left-radius: 36px;
border-top-right-radius: 36px;

min-height: 200px;
}   
.Iconw{
position: absolute;
width: 40%;
height: 8%;
left: 50%;
top: 35%;
background: #FFFFFF;
}
.Edituserprofile{
position: relative;
width: 25%;
height: 80%;
left: 3%;
top: 10%;
border-radius: 15px;
background: #66C5FB;
cursor: pointer;
border: none;
}
.EdituserprofileFont{
font-family: 'Poppins';
font-style: normal;
font-size: 16px;
color: #FFFFFF;
}
.Username{
position: relative;
width: 25%;
height: 80%;
left: 35%;
top: -35%;
}
.UsernameFont{
left: 50%;
text-align: right;
font-family: 'Poppins';
font-style: normal;
font-size: 24px;
line-height: 1.25;
color: #000000;
}
.LogOut{

bottom: 1%;
border-radius: 30px;
background: #66C5FB;
cursor: pointer;
border: none;
}
.setting_bar{
    margin-left: -250px
}
.LogOutFont{
font-family: 'Poppins';
font-style: normal;
font-size: 32px;
color: #FFFFFF;
}
.BackFont{
font-family: 'Poppins';
font-style: normal;
font-size: 34px;
color: #FFFFFF;
}
.Back{
    border-radius: 30px;
    background: #66C5FB;
    border: none;
}
.Myaccount{
box-sizing: border-box;
width: 100%;

background: rgb(183, 182, 182);
border: 1px solid #2B2B2B;
}
.MyaccountFont{
font-family: 'Poppins';
font-style: normal;
font-size: 200%;
color: #000000;
}
.Profile{
box-sizing: border-box;
width: 100%;
background: #FFFFFF;
border: 1px solid #2B2B2B;
cursor: pointer;
}
.ProfileFont{
font-family: 'Poppins';
font-style: normal;
font-size: 200%;
pointer-events: none;
color: #000000;
}
.Back:hover {
background-color: rgb(100, 135, 175);
}
.Myaccount:hover {
background-color: rgb(183, 182, 182) ;
}
.Profile:hover {
background-color: rgb(183, 182, 182) ;
}
.LogOut:hover {
background-color: rgb(100, 135, 175);
}
.Edituserprofile:hover {
background-color: rgb(100, 135, 175);
}
.circle{
position:inherit;
width: 150px;
left: 50px;
top: 50px;
background-color: #bbb;
border:1px solid white;
border-radius: 50%;
display: inline-block;
}
.setting_roll{
    background-color: gainsboro;
    resize: vertical;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    min-height: 500px;
}
.img1{
width: 80%;
object-fit: cover;
border-radius: 50%;
border: 1px solid #e9e9e9;
}
.setting_left{
    border: 0.1px solid #000000;
}
.img2{
max-width: 100%;
max-height: 100%;
display: block;
}
.cardposition{
position: absolute;
left: 5%;
right: 50%;
top: 40%;
bottom: 75%;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 30%;
cursor: pointer;
}
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
padding: 2px 16px;
}